@import "tailwindcss";

body {
    font-family: "Poppins" !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    /* background-color: #ffffff !important; */
}

.text-xs {
    font-size: 16px !important;
}

.text-sm {
    font-size: 24px !important;
}

.text-md {
    font-size: 26px !important;
}

.text-lg {
    font-size: 34px !important;
}

.text-xl {
    font-size: 44px !important;
}

.text-base {
    font-size: 56px !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-semibold {
    font-weight: 700 !important;
}

.font-bold {
    font-weight: 900 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-blue {
    background-color: #0AADE4 !important;
}

.bg-gray-100 {
    background-color: #f5f5f5 !important;
}

.text-gray {
    color: #4e4e4e !important;
}

.text-black {
    color: #000000 !important;
}

.text-white {
    color: #ffffff !important;
}

.border-gray-100 {
    border-color: #f5f5f5 !important;
}

.rounded {
    border-radius: 4px !important;
}

.rounded-md {
    border-radius: 6px !important;
}

.rounded-lg {
    border-radius: 8px !important;
}

.rounded-xl {
    border-radius: 16px !important;
}

.rounded-2xl {
    border-radius: 24px !important;
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.btn {
    background-color: #0AADE4 !important;
    color: #ffffff !important;
    padding: 10px 30px !important;
    border-radius: 9999px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    transition: background-color 0.3s ease !important;
    cursor: pointer !important;
}

.btn2 {
    background-color: #ffffff !important;
    color: #0AADE4 !important;
    padding: 10px 20px !important;
    border-radius: 9999px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    transition: background-color 0.3s ease !important;
    cursor: pointer !important;
    border: 1px solid #0AADE4 !important;
}